<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Tape Index Page</h1>
    <ul>
      <% for (let i = 0; i < tapes.length; i++) { %>
        <li>
         <a href="/tapes/<%=tapes[i]._id%>">
          <%= tapes[i].name; %>
         </a>
         <form action="/tapes/<%=tapes[i]._id%>?_method=DELETE" method="POST">
           <input type="submit" value="DELETE">
         </form>
         <a href="/tapes/<%=tapes[i]_id%>/edit">Edit</a>
        </li>
      <% } %>
    </ul>
    <nav>
      <a href="/tapes/new">Create a New Tape</a>
    </nav>
  </body>
</html>
