<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Tape</h1>
    <form action="/tapes" method="POST">
      Name: <input type="text" name="name" value="<%=tape.name%>"><br/>
      Year: <input type="text" name="year" value="<%=tape.year%>"><br/>
      coverImg: <input type="text" name="coverImg" value="<%=tape.coverImg%>"><br/>
      cassetteImg: <input type="text" name="cassetteImg" value="<%=tape.cassetteImg%>"><br/>
      <input type="submit" value="Create Tape">
    </form>
  </body>
</html>
