<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <h1>New Tape</h1>
    <form action="/" method="POST"
        <label for="artist">Artist:</label>
        <input type="text" name="artist" required />
        <label for="title">Title:</label>
        <input type="text" name="title" />
        <label for="year">Year:</label>
        <input type="text" name="year" required />
        <label for="coverImg">Cover:</label>
        <input type="text" name="coverImg" />
        <label for="cassetteImg">Cassette:</label>
        <input type="text" name="cassetteImg" />
      <input type="submit" value="Create Tape">
    </form>
  </body>
</html>
