<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Tapes show page</h1>
    The <%=tape.name; %> is from <%=tape.year; %>
    <%=tape.coverImg; %>
    <%=tape.cassetteImg; %>
    <nav>
      <a href="/tapes">Back to Tapes Index</a>
    </nav>
  </body>
</html>
